.internalServerError
  display: flex
  font-size: 20px
  flex-wrap: wrap
  color: rgb(255, 255, 255)
  margin-top: -15px
  background-color: rgb(255, 20, 20)
  height: calc(100% + 15px)
  overflow: hidden
.image
  width: 42%
.title
  margin: 0
  width: 58%
  display: flex
  justify-content: center
  align-items: center
  font-size: 40px
.detail
  text-indent: 2em
  font-size: 24px
  width: 59%
  height: 100%
  margin-top: -15px
  margin-left: 41%
  padding-bottom: 7px
.comeback
  font-size: 22px
  margin-left: 20px
  padding: 0 50px 0 50px
  color: rgb(255, 20, 20)
  border: 0px
  width: 160px
  padding: 8px 4px 8px 4px
  border-radius: 4px
  background-color: rgb(255, 255, 255)
@media (width <= 900px)
  .internalServerError
    overflow: scroll
    height: auto
  .image
    width: 100%
  .title
    width: 100%
    margin-bottom: 20px
  .detail
    width: 100%
    margin-left: 0
