.accessBlock
  color: rgb(0, 0, 0)
  display: flex
  font-size: 22px
  flex-wrap: wrap
  min-height: 100%
  align-items: center
  background-color: rgb(30, 30, 255)
.title
  display: flex
  color: rgb(255, 255, 255)
  justify-content: center
  font-size: 50px
  width: 55%
  text-shadow: 2px 2px 5px rgba(50, 50, 50, 0.5)
.image
  width: 45%
.detail
  width: 55%
  color: rgb(255, 255, 255)
  display: block
  text-indent: 2em
  font-size: 30px
  text-shadow: 1px 1px 5px rgba(50, 50, 50, 0.5)
.emphasis
  color: rgb(0, 0, 0)
  font-weight: bold
.ip
  text-decoration: solid underline rgb(143, 13, 243) 6px
.time
  text-decoration: solid underline rgb(255, 0, 0) 6px
@media (width <= 950px)
  .image
    width: 100%
    order: 1
  .title
    margin: 0
    width: 100%
    order: 2
  .detail
    margin: 20px 0 20px 0
    width: 100%
    order: 3
